
@import url('https://fonts.googleapis.com/css?family=Warnes&diplay=swap');
.bg{
    background: url('https://linkpicture.com/q/14fc5c2f47586ef4be1d6d066253f3a8.jpg');
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

button{
    font-family: 'Warnes' , cursive;
    border-radius: 6px;
    font-size: 40px;
    color: #fff;
    border: none;
    width: 250px;
    padding: 10px;
    background: none;
    animation: flicker 1.5s infinite alternate;
    cursor: pointer;
    transition: .2s;
    text-shadow: 0 0 3px #fff,
                 0 0 6px #fff,
                 0 0 9px #0073e6,
                 0 0 12px #0073e6,
                 0 0 15px #0073e6,
                 0 0 18px #0073e6,
                 0 0 21px #0073e6;
}

@keyframes flicker {
    8%, 9%, 21%, 23%, 25%, 54%, 69%, 71%, 100% {
        text-shadow: 0 0 3px #fff,
                     0 0 6px #fff,
                     0 0 9px #0073e6,
                     0 0 12px #0073e6,
                     0 0 15px #0073e6,
                     0 0 18px #0073e6,
                     0 0 21px #0073e6;

        box-shadow: 0 0 0.1vw 0.4vw #fff7f7,
                    0 0 0.4vw 0.6vw #e97272,
                    0 0 4vw 0.4vw #e50b0b,
                    inset 0 0 1.5vw 0.4vw #e50b0b,
                    inset 0 0 0.4vw 0.2w #e97272,
                    inset 0 0 0.5vw 0.2vw #fff7f7;   
                   
    }

    20%, 24%, 70%{
        text-shadow: none;
    }

    55% {
        box-shadow: none;
    }

}


button:hover {
    animation: step-end;
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7
                0 0 0 0.4vw 0.6vw #e97272,
                0 0 7vw 0.4vw #e50b0b,
                inset 0 0 3vw 0.4vw #e50b0b,
                inset 0 0 0.4vw 0.2vw #e97272,
                inset 0 0 0.5vw 0.2vw #fff7f7;
                

}